# Plugins for the Oates lab

Plugins>Time_Lapse, "Circle Interpolator", soroldoni.Circle_Interpolator
Plugins>Time_Lapse, "LOI Interpolator", soroldoni.LOI_Interpolator
Plugins>Time_Lapse, "LOI Interpolator Tool", soroldoni.LOI_Interpolator_Tool
Plugins>Time_Lapse, "Gaussian-based stack focuser", soroldoni.Gaussian_Stack_Focuser
