# Plugins for the Oates lab

Plugins>Time Lapse, "Circle Interpolator", sc.fiji.timelapse.Circle_Interpolator
Plugins>Time Lapse, "LOI Interpolator", sc.fiji.timelapse.LOI_Interpolator
Plugins>Time Lapse, "LOI Interpolator Tool", sc.fiji.timelapse.LOI_Interpolator_Tool
Plugins>Time Lapse, "Gaussian-based stack focuser", sc.fiji.timelapse.Gaussian_Stack_Focuser
